.products-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 25px;
  padding-bottom: 50px;
}

.spinner {
  position: absolute;
  margin: auto;
  display: block;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .products-container {
    padding: 25px;
    margin-top: 0;
  }
}
