.products-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding-bottom: 100px;
  height: 100%;
}

.spinner {
  position: absolute;
  margin: auto;
  // height: 50px;
  // width: 50px;
  display: block;
  top: 35%;
  left: 50%;
  transform: translate(-50%);}
