.basket {
  width: 100%;
  display: flex;
  margin-top: 25px;
  gap: 25px;

  &__list {
    width: 100%;
  }

  &__order {
    min-width: 376px;
    border: 1px solid #000000;
  }
}

.table {
  width: 100%;

  &__item,
  &__quantity {
    font-size: 16px;
    color: #050505;
    font-weight: 500;
    vertical-align: middle;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  &__quantity {
    width: 70px;
    display: table-cell;
    vertical-align: top;
  }
}

.line {
  border-top: 1px solid black;
  margin-top: 25px;
  width: calc(100% + 70px);
}

.hide {
  display: none;
}
