.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  max-height: 500px;
  width: 100%;

  &__price,
  &__title {
    margin-top: 8px;
    font-size: 24px;
    color: #050505;
    font-weight: 500;
  }

  &__description {
    margin-top: 8px;
    font-size: 14px;
    color: #888888;
    font-weight: 400;
  }

  &__image {
    position: relative;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* Adjust how the image fills the container */
    }
  }

  &__buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 10px;

    div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: dimgray;
      // border-radius: 6px;

      &:hover {
        -webkit-filter: drop-shadow(5px 5px 5px lightcoral);
        filter: drop-shadow(5px 5px 5px lightcoral);
      }
    }
    .cart, .heart {
      width: 24px;
      height: 24px;
      -webkit-filter: drop-shadow(5px 5px 5px #FFF);
      filter: drop-shadow(5px 5px 5px #FFF);
    }
  }
}
